# About Dataset
-----
* This Olympic dataset is taken from kaggle [[Dataset]](https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results).

* The dataset contain data of olympic 1896 to 2016.

* We took data of India only to use in our project.

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Datasets/athlete_events.csv')

# Data Visualization

In [ ]:
df.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

**Extracting Data of only Inda**

In [ ]:
df_india = df[df.NOC == 'IND']
print(df_india)
print("LENGTH: ", len(df_india))

            ID                                           Name Sex   Age  \
505        281                                 S. Abdul Hamid   M   NaN
506        281                                 S. Abdul Hamid   M   NaN
895        512                Shiny Kurisingal Abraham-Wilson   F  19.0
896        512                Shiny Kurisingal Abraham-Wilson   F  19.0
897        512                Shiny Kurisingal Abraham-Wilson   F  23.0
...        ...                                            ...  ..   ...
264139  132177                           Mohammad Anas Yahiya   M  21.0
265876  133029  Thyadathuvilla Chandrapillai "T. C." Yohannan   M  29.0
266934  133554                           Sayed Muhammad Yusuf   M   NaN
270912  135480                                   Geeta Zutshi   F  23.0
270913  135480                                   Geeta Zutshi   F  27.0

        Height  Weight   Team  NOC        Games  Year  Season            City  \
505        NaN     NaN  India  IND  1928 Summer  1928  Summer       Amsterdam
506        NaN     NaN  India  IND  1928 Summer  1928  Summer       Amsterdam
895      167.0    53.0  India  IND  1984 Summer  1984  Summer     Los Angeles
896      167.0    53.0  India  IND  1984 Summer  1984  Summer     Los Angeles
897      167.0    53.0  India  IND  1988 Summer  1988  Summer           Seoul
...        ...     ...    ...  ...          ...   ...     ...             ...
264139   177.0    69.0  India  IND  2016 Summer  2016  Summer  Rio de Janeiro
265876   174.0    62.0  India  IND  1976 Summer  1976  Summer        Montreal
266934     NaN     NaN  India  IND  1928 Summer  1928  Summer       Amsterdam
270912   167.0    51.0  India  IND  1980 Summer  1980  Summer          Moskva
270913   167.0    51.0  India  IND  1984 Summer  1984  Summer     Los Angeles

            Sport                                   Event Medal
505     Athletics      Athletics Men's 110 metres Hurdles   NaN
506     Athletics      Athletics Men's 400 metres Hurdles   NaN
895     Athletics            Athletics Women's 800 metres   NaN
896     Athletics  Athletics Women's 4 x 400 metres Relay   NaN
897     Athletics            Athletics Women's 800 metres   NaN
...           ...                                     ...   ...
264139  Athletics    Athletics Men's 4 x 400 metres Relay   NaN
265876  Athletics               Athletics Men's Long Jump   NaN
266934     Hockey                     Hockey Men's Hockey  Gold
270912  Athletics            Athletics Women's 800 metres   NaN
270913  Athletics          Athletics Women's 3,000 metres   NaN

[1408 rows x 15 columns]
LENGTH:  1408

In [ ]:
sports = df_india.Sport.unique()
print(sports)
print("Total participated sports:", len(sports))
print("Total sports:", len(df.Sport.unique()))

['Athletics' 'Table Tennis' 'Weightlifting' 'Judo' 'Water Polo'
 'Equestrianism' 'Football' 'Hockey' 'Alpine Skiing' 'Tennis' 'Cycling'
 'Wrestling' 'Golf' 'Badminton' 'Swimming' 'Archery' 'Shooting' 'Sailing'
 'Boxing' 'Rowing' 'Gymnastics' 'Art Competitions' 'Basketball'
 'Cross Country Skiing' 'Luge' 'Diving' 'Alpinism']
Total participated sports: 27
Total sports: 66

In [ ]:
players = df_india.Name.unique()
print(players)
print("Total Players:", len(players))

['S. Abdul Hamid' 'Shiny Kurisingal Abraham-Wilson'
 'Sharath Kamal Achanta' 'Badathala Adisekhar' 'Mirza Najib Aga'
 'Neha Aggarwal' 'Jahan Ahir' 'Jitendarjit Singh Ahluwalia'
 'A. Hussain Ahmed' 'Shakeel Ahmed' 'Neha Ahuja' 'Balkrishan Akotkar'
 'Anil Alexander Aldrin' 'Shaukat Ali' 'Syed Ali' 'Syed Mushtaq Ali'
 'Sayed Zeeshan Ali' 'Richard James Allen' 'Bobby Aloysius'
 'Jehangoo Amin' 'Anand Amritraj' 'Vijay Amritraj'
 'Ganpatrao Krishnaji "Ganpat" Andhalkar-Patil' 'Imtiaz Anees'
 'Subbaiah Anjaparavanda Bopaiah' 'Berland Anthony' 'Joseph Anthony'
 'Joseph Anthony "Joe" Antic' 'Seema Antil' 'Rashid Mian Anwar'
 'Talimeren Ao' 'Aditi Ashok' 'Kumar Ashok' 'Sardar Mohammad Aslam'
 'Manu Attri' 'Sayed Khwaja Aziz-ud-Din' 'Lalita Shivaji Babar'
 'Kumari Babita' 'Chetan Panduranga Baboor' 'Suresh Babu'
 'Sri Chand Bajaj' 'Subramani Balada Kalaiah'
 'Tulasidas Balaraman "Balaram"' 'Ashish Kumar Ballal' 'Dola Banerjee'
 'H. Harihar Banerjee' 'Pradeep Kumar "PK" Banerjee' 'Rahul Banerjee'
 'Samar Banerjee' 'Purma C. Bannerjee' 'Lazarus "Lajarus" Barla'
 'Bijoy Kumar Barman' 'Birendra Nath Basak' 'A. Sattar Basheer'
 'Ahmed Abdul Basith' 'Manika Batra'
 'Kalayathumkuzhi Mathews "K. M." Beenamol' 'Jai Bhagwan'
 'Gyan Prakash Bhalla' 'Dhruv Bhandari' 'Gangotri Bhandari'
 'Anant Ram Bhargava' 'Vasudevan Bhaskaran' 'Balwinder Kaur Bhatia'
 'Randhawa Ranjit Bhatia' 'Rabindranath "Rabin" Bhatta'
 'Deepankar Bhattacharya' 'Dattu Baban Bhokanal' 'Nirmal Kumar Bhose'
 'Bandu Bhosle' 'Mahesh Shrinivas Bhupathi' 'Govinda Billimogaputtaswamy'
 'Cawas Kersasp Billimoria' 'Abhinav Bindra'
 'Kalayathumkuzhi Mathews Binu' 'Harishchandra Madhavrao Birajdar'
 'Shahuraj Birajdar' 'Jagdish Kumar Singh Bishnoi' 'Madhumita Bisht'
 'Narendar Bisth Singh' 'Soma Biswas' 'Anju Bobby George (Markose-)'
 'Pradip Bode Kumar' 'Lal Shah S. Bokhari' 'Rohan Bopanna'
 'Charles Borromeo' 'Benoy Bose Kumar' 'Frank Gerald Singlehurst Brewin'
 'Jeremy John (Jarema Stanisaw-) Bujakowski' 'R. Burns' 'Sandeep Byala'
 'Netai Chand Bysack' 'Cyrus Cama' 'Richard John "Dickie" Carr'
 'Joaquim Martin Carvalho' 'A. G. Chagale' 'Rushmi Chakravarthi'
 'Suprovat Chakravarty' 'Dhyan Chand Bais' 'Dutee Chand' 'Gian Chand'
 'Hari Chand' 'Lal Chand Nil' 'Udey Chand' 'Mehar Chand Dhawan'
 'Sri Chand Ram' 'Apurvi Singh Chandela' 'Raghavan Chanderasekaran'
 'Ran Shor Chandnani' 'Bimal Chandra' 'Menon Chandrasekhar'
 'Prithipal Chatterjee' 'Samarandra N. Chatterjee' 'Suhas Chatterjee'
 'Garima Chaudhary' 'Sudha Chaudhry' 'Phadeppa Dareppa Chaugule'
 'Devesh Singh Chauhan' 'Shiv Sankar Prasad Chawrasia' 'Paul Cheema Singh'
 'Kynan Darius Chenai' 'Bharat Kumar Chetri' 'Bir Bahadur Chettri'
 'Souren "Roy" Choudhury' 'Souren Choudhury' 'Shagun Chowdhary'
 'Rajendra Absolem Christy' 'Lal Chuni' 'Leslie Walter Claudius'
 'Charles Cornelius' 'Anthony Francis Coutinho' 'Robert Percival Cranston'
 'Mohammed Samir Dad' 'Meldric St. Clair daLuz Vieira' 'Dhulchand Damor'
 'Ali Iqtidar Shah Dara' 'Ankita Das' 'Atanu Das' 'Durga Charan Das'
 'Mouma Das' 'Niranjan Das' 'Robi Das' 'Amala Dass' 'Janini Dass'
 'Sadashir V. Datar' 'Baban Dharamji Daware'
 'Walter Louis Joseph de Sousa' 'Chinadorai Deshmutu' 'Deepali Deshpande'
 'Gul Mustafa Dev' 'Laishram Bombayla Devi' 'Khumujam Tombi Devi'
 'Lourembam Brojeshori Devi' 'Somdev Kishore Devvarman'
 'Saraswati Amit Dey-Saha' 'Ayyasamy Dharun' 'Abha Dhillan'
 'Kartar Dhillon Singh' 'Valiyaveetil Diju' 'Ngangim Dingko Singh'
 'Parvez Irani Diniar' 'Ashok Diwan' 'Skalzang Dorje' "Selma D'Silva"
 "Adrian Albert D'Souza" "Darryl Aloysius D'Souza" "Mary Emily D'Souza"
 "Neville Stephen J. D'Souza" 'Stephanie "Stephie" D\'Souza (Sequeira-)'
 'Preeti Dubey' 'C. Thirugnan Durai' 'Keshav Chandra Dutt' 'Sunil Dutt'
 'Yogeshwar Dutt' 'Soma Dutta' 'Alloysius Edwards' 'Karunagaran Ekambaram'
 'Deep Grace Ekka' 'Lionel Charles Renwick Emmett' 'Kamineni Eswara Rao'
 'Lawrence "Lawrie" Fernandes' 'Lorraine Fernandes' 'Peter Paul Fernandes'
 'Merwyn Fernandis' 'Gavin Ferreira' 'John William Francis'
 'Ranganathan Francis' 'Manuel Frederick' 'Ali Athar Hassan Ally Fyzee'
 'Joseph Deville Thomas "Joe" Galibardy'
 'Prameela Gudandda Ganapathy (-Aiyappa)' 'Michael Anthony Gateley'
 'Sathi Geetha' 'Poulomi Ghatak' 'Sujay Jashiwant Ghorpade' 'Nilima Ghose'
 'Mohon Lal Ghosh' 'Soumyajit Ghosh' 'Parkash Gian' 'Harpreet Gill'
 'Gerald Rudolph "Gerry" Glackan' 'Sandeep Gollen Kumar'
 'Marcellus Marcus Gomes' 'Ernest John "Ernie" Goodsir-Cullen'
 'William James "Willie" Goodsir-Cullen' 'Thonakal Gopi'
 'Pulella Gopichand' 'Subimal Goswami' 'Deven Govindasami'
 'Vikas Shive Gowda' 'Abhinn Shyam Gupta' 'Bahadur Gurung Gupta'
 'Dilip Gurumurthy' 'Jwala Gutta' 'Hakimuddin Shabbir Habibulla'
 'Syed Mohammad "S. M." Hadi' 'Arjun Halappa' 'James Stanton Hall'
 'Leslie Charles Hammond' 'Adi Havewala' 'Malcolm Havladar'
 'Wilfred Reginald "Will" Hildreth' 'Arthur Charles Hind' 'Akhtar Hussain'
 'Sayed Muhammad Hussain' 'Nadeem Iqbal' 'Zafar Iqbal' 'Ivan Jacob'
 'Sydney Montague Jacob' 'Pappu Jadav' 'Shirang Vithoba Jadav'
 'Khashaba Dadasaheb  Jahdav' 'Sayed Muhammad Jaffar'
 'Orchatteri Puthiya Veetil "O. P." Jaisha' 'Romeo James'
 'Patrick Anthony "Pat" Jansen' 'Sohrab Janshed Contractor'
 'Valdivel Jayalakshmi' 'Mackertich "Mac" Joachim (Hovakimian-)'
 'Nachhatar Singh Johal' 'Jinson Johnson' 'Mayookha Mathalikunnel Johny'
 'Raj Joshi Tilak' 'Samresh Jung' 'Samsudeen Kabeer' 'Nikhil Kanetkar'
 'Chinglensana Kangujam' 'Dharmalingam Kannan' 'Mahendran Kannan'
 'Muhammad Kannayan' 'Laxmi Kanta Das' 'Vithal Karande' 'Dipa Karmakar'
 'Joydeep Karmakar' 'Parupalli Kashyap' 'Shivani Kataria'
 'Vandana Katariya' 'Ravi Kumar Katulu' 'Gurmeet Kaur Rai' 'Harwant Kaur'
 'Khushbir Kaur' 'Mandeep Kaur' 'Manjit Kaur' 'Manpreet Kaur'
 'Navjot Kaur' 'Paramjit Kaur' 'Rajwinder Kaur Gill' 'Hari Pal Kaushik'
 'Maharaj Krishon Kaushik' 'Mariappa Kempaiah' 'Sen Keshav'
 'Shiva Keshavan' 'Virdhawal Vikram Khade' 'Ahmed Muhammad Khan'
 'Ahmed Sher Khan' 'Ahsan Muhammad Khan' 'Aslam Sher Khan'
 'Feroz-ud-Din "Feroze" Khan' 'Hussain Khan' 'Kasam Khan'
 'Mairaj Ahmad Khan' 'Muhammad Khan' 'Shamsher Khan'
 'Mohammed Youssef Khan' 'Tushar Khandker' 'Devender Kumar Khandwal'
 'Mukesh Khatri' 'Ravinder Khatri' 'Srikanth Kidambi' 'Michael Kindo'
 'J. Krishnaswamy "Krishna" Kittu' 'Shah Kohli'
 'Mangte Chungneijang Mary Kom' 'Ganapathi Krishnan'
 'Rajeev Bala Krishnan' 'Ramesh Krishnan'
 'Krishna Shamrao "K. S." Kulkarni' 'Akhil Kumar' 'Amir Chand Kumar'
 'Amit Kumar Dahiya' 'Anil Kumar' 'Anuj Kumar' 'Ashok Kumar'
 'Charanjit Kumar' 'Dinesh Kumar' 'Gundeep Kumar' 'Jitender Kumar'
 'Manoj Kumar Kaltagediya' 'Naresh Kumar' 'Praveen Kumar Sobti'
 'Rajesh Kumar' 'Ramesh Kumar' 'Sandeep Kumar' 'Sanjeev Kumar Dang'
 'Sant Kumar' 'Shailaja N. Kumar' 'Sudesh Kumar' 'Sujit Kumar'
 'Surender Kumar' 'Sushil Kumar Solanki' 'Vijay Kumar' 'Vimal Kumar'
 'Vinod Kumar' 'Rajinder Kumar Dhanger' 'Anil Kumar Prakash'
 'Anil Kumar Sangwan' 'Rajinder Kumar Vij' 'Deepika Kumari' 'Reena Kumari'
 'Sahana Kumari' 'Namecrakpam Kunjarani Devi' 'Rosa Kutty Kunnath Chacko'
 'Alapurackal "Mercy" Kuttan-Mathews' 'Anirban Lahiri' 'Ajit Lakra'
 'Anthresh Lalit Lakra' 'Birendra Lakra' 'Sunita Lakra'
 'Cheruvari Kottieth Lakshmanan' 'Harbans Lal' 'Hira Lal' 'Kishan Lal'
 'Mohinder Lal' 'Raghbir Lal Sharma' 'Sham Lal' 'Babu Lall'
 'Changte Lalremsaga' 'Indrajit Singh Lamba' 'Sheikh Abdul L. Latif'
 'Shankar Pillay Laxman' 'Tintu Luka' 'Tashi Lundup' 'Sujeet Maan'
 'Chand C. Machiah' 'Nazleen Madraswalla (-Shah)' 'Renjith Maheshwary'
 'Laxmirani Majhi' 'Manisha Malhotra' 'Monika Malik' 'Nalin Chandra Malik'
 'Sakshi Malik' 'Manikyalu Malla Venkata' 'Karnam Malleswari'
 'Maruti Mane' 'Somaya Muttana Maneypandey' 'Keshav D. Mangave'
 'Sailendra Nath "Sailen" Manna' 'Ganapathy Manoharan'
 'George Eric McCarthy Marthins' 'Adkar Maruti'
 'Mirza Nasir-ud-Din Masood' 'Surat Singh Mathur' 'Sakti M. Mazumdar'
 'Shyam Lal Meena' 'Ram Mehar' 'Raj Kumar Mehra'
 'Kamlesh Navinchandra Mehta' 'Sangita Mehta' 'Nghlhav Mehtabs Singh'
 'Jude Menezes' 'Sahu Mewalal' 'Cyril James Michie' 'Nisha Millet'
 'Masude Ali Khan Minhas' 'Lilima Minz' 'Chanu Saikhom Mirabai'
 'Sania Mirza' 'Eruch Mistry' 'Rachita Mistry (Panda-)' 'Dilip Mitra'
 'Prahtip Mitra' 'Tehmasp Rustom Mogul' 'Taj Mohammed'
 'Sayed Khaja Moinuddin' 'Ganesh Mollerapoovayya' 'Anil Kumar Mondal'
 'Darshan Mondal' 'Isaac Monsoor' 'Valli Asari Mookan' 'Jagmal More'
 'Riaz Nabi Muhammad' 'Danish Mujtaba' 'Rustom "Rusi" Mulla Feroze'
 'Prafulla Mullick' 'Rekha Mundphan (-Bhide)' 'Tamil Selwan Muniswamy'
 'Dwarkadas Murarji' 'J. Murphy' 'Thandava Murthy Muthu'
 'Gurunathan Muthuswamy' 'Sivaraj Naalamuthu Pillai'
 'Jehangir J. Naegamwalla' 'Sachindra "Sachin" Nag' 'Amarnath Nagarajan'
 'Jamyang Namgial' 'Srabani Nanda' 'Mukesh Kumar Nandanoori'
 'Nikhil Kumar Nandy' 'Prakash Nanjappa' 'Gagan Narang'
 'Shankar Subramaniam Narayan' 'Chander Narayanan' 'Prem Nath'
 'Kumar T. Navale' 'V. R. Dinesh Nayak' 'Ravi Nayakar'
 'Dolly Rustom Nazir' 'Saina Nehwal' 'Eliza Nelson (Mendonca-)'
 'Soniya Chanu Ngangbam' 'Baburao Narasappa "Baboo" Nimal'
 'Rohinton Noble' 'N. Muhammad Noor' 'Richard Alexander "Rex" Norris'
 'Ronald "Ron" Norris' 'John O. H. Nuttall' 'Leander Adrian Paes'
 'Amrit Pal' 'Krishna Chandra Pal' 'Paulose Pandari Kunnel'
 'Lakhshmi Kant Pandey' 'Tarashkeswar Pandey'
 'Varalakshimi Pandimukkala Venkata' 'Ramchandra Balaram Parab'
 'Sumeet Patel' 'Bandu Patil' 'M. R. Patil' 'Mark Philip Patterson'
 'Ayonika Paul' 'Govind Perumal' 'Krishnamurty Perumal'
 'Victor John "V. J." Peter' 'Jincy Phillip' 'Joseph "Joe" Phillips'
 'Vadivelu "V. J." Phillips' 'Geeta Phogat' 'Vinesh Phogat'
 'Rajasekaran Pichaya' 'Dhanraj Pillay' 'Vikram Vishnu Pillay'
 'Manoj Dattatray Pingale' 'Broome Eric Pinniger'
 'Lavinho Thomas "Lavy" Pinto' 'Leo Hillary Knowles Pinto'
 'Terence Keith Pitt' 'Nora Margaret Polley (Fischer-)' 'Daniel Pon Mony'
 'Rehan Jahangir Poncha' 'Ashwini Ponnappa' 'Cheppudira Subbaih Poonacha'
 'Krishna Poonia' 'Lalji Aparna Popat' 'Ankur Poseria'
 'Machettira Raju "M.R." Povamma' 'Kenneth Lawrence "Ken" Powell'
 'Homi Powri' 'Eric Rajanicka Prabhakar Philip' 'Jaslal Pradhan'
 'Nikki Pradhan' 'Jai Kangar Prakash' 'Sajan Prakash Prakash'
 'Ansuya Prasad' 'Bahadur Prasad Singh' 'Diwakar Prasad' 'Mahabir Prasad'
 'Rajendra Prasad' 'Satyadev Prasad' 'Norman Gilbert Pritchard (-Trevor)'
 'Sushila Chanu Pukhrambam' 'Sapna Punia' 'Savita Punia' 'Sangeeta Puri'
 'Kunhu Muhammed Puthanpurakkal' 'Ambika Radhika' 'Inam-ur Rahman'
 'Jitu Rai' 'Kishor Rahtna Rai' 'Sanjay Kumar Rai' 'Satheesha Rai'
 'Sen K. Rai' 'Tarundeep Rai' 'Dandamudi Rajagopal' 'Muniswamy Rajagopal'
 'Soundarajan Arokia Rajiv' 'Jaswant Singh Rajput' 'Sanjeev Rajput'
 'Anant Ram' 'Bahadur Chettri Ram' 'Chandgi Ram' 'Kheta Ram' 'Khushi Ram'
 'Lila Ram Sangwan' 'Limba Ram' 'Siri Chand Ram'
 'Raghunath Vokkaliga Ramachandra' 'S. Purukottam Ramachandran'
 'Sarangapari Dhanraj Raman' 'Rani Rampal' 'Amarjit Singh Rana'
 'Basant Bahadur Rana' 'Jaspal Rana' 'Ponnuswamy Rangaswamy' 'Poonam Rani'
 'Kelly Subbanand Rao' 'Mary Leela Rao' 'Sunitha Rao' 'Vandana Rao'
 'Viren Wilfred Rasquinha' 'Karam Rasul Kashmiri'
 'Rajyavardhan Singh Rathore' 'Sreejesh Parattu Raveendran'
 'Gene Vivienne Raymond' 'Henry Malcolm Rebello' 'Buss Sumeeth Reddy'
 'Thazhatheri Abdul Rehman' 'Latif-ur Rehman' 'Michael E. Rocque'
 'Reginald Neville Rodrigues' 'Keshav Pravad Roy' 'Niyati Roy-Shah'
 'Donald Ross Rutnam' 'Arati Gupha Saha' 'Sambhu Saha' 'Gopal Singh Saini'
 'Rupa Kumari Saini' 'Munir Sait' 'Muhammad Abdul Salaam'
 'Bhagirath Samai' 'Thing Baijan Sanamacha Chanu'
 'Kamaljit Kaur Sandhu (-Kooner)' 'Sumit Sangwan' 'Kamalakanta Santra'
 'Piloo Sarkari' 'Rahi Sarnobat (-Jeevan)' 'Ram Sarup'
 'Mohammad Abdus Sattar' 'Bondata Venkata "B. V." Satyanarayan' 'Satyawan'
 'Majhi Sawaiyan' 'Govind Rao Sawant' 'Allan Schofield' 'Gora Chand Seal'
 'Frederick Stephen Seaman' 'Jude Felix Sebastian' 'Sandeep Sejwal'
 'Thirumal Valavan Selvaraj' 'Edward "Eddie" Sequeira' 'Tarit Kumar Sett'
 'Akram Shah' 'Kedar Nath Shah' 'Khamlillal Shah' 'Shabban Shahab-ud-Din'
 'Muhammad Shahid' 'Vandana Pandurang Shanbagh' 'Jata Shankar'
 'Thulukhanam Shanmugam' 'Ankit Sharma' 'Jaman Lal Sharma' 'Nisha Sharma'
 'Sumangala Sharma' 'Vineet Kumar Sharma' 'Haricharan Shaw'
 'Nirmala Sheoran' 'Antarge Sherpa' 'Lhakpa Sherpa' 'Narbu Sherpa'
 'Pasang Sherpa' 'Pembra Sherpa' 'Sange Sherpa' 'Temba Sherpa'
 'Sunder Shiam' 'Duikar Randhir Shindes' 'Suma Shirur (Betaraya Dixit-)'
 'Javur Jagdishappa "J. J." Shobha' 'Malav Shroff'
 'Radhey Shyam Vijayrania' 'Avneet Kaur Sidhu' 'Heena Sidhu'
 'Jyotirmoyee Sikdar' 'Adam Antony Sinclair'
 'Pusarla Venkata "P. V." Sindhu' 'Ajay Raj Singh' 'Ajit Singh'
 'Ajit Singh Balla' 'Ajitpal Singh Kular' 'Ajmer Singh'
 'Ajmer Singh Chopra' 'Akashdeep Singh' 'Annu Raj Singh' 'Avtar Singh'
 'Bahadur Singh Chauhan' 'Bahadur Singh Sagoo' 'Bakshish Singh'
 'Bakshish Sandhu Singh' 'Balbir Singh' 'Baldev Singh' 'Baljinder Singh'
 'Balkrishan Singh Grewal' 'Balwinder Singh' 'Banta Singh' 'Bhim Singh II'
 'Bhim Singh' 'Bishambar Singh' 'Chain Singh' 'Chand Singh'
 'Charanjit Singh' 'C. B. Chavan Singh' 'Chhota Singh'
 'Dalip Singh Grewal' 'Darshan Singh Kular' 'Darya Singh' 'Devi Singh'
 'Devinder Singh' 'Dharam Singh' 'Dharamvir Singh' 'Didar Singh'
 'Grahanandan Nandy "G. Nandy" Singh' 'Gagan Ajit Singh'
 'Gian Sehrawat Singh' 'Joginder "Gindi" Singh' 'Inder "Gogi" Singh'
 'Gurbachan Singh' 'Gurbaj Singh' 'Gurbinder Singh' 'Gurbux Singh'
 'Gurcharan Singh' 'Gurdev Singh Kular' 'Gurmail Singh' 'Gurmeet Singh'
 'Gurmit Singh Kullar' 'S. Gurnam Singh' 'Gurpreet Singh' 'Gurtej Singh'
 'Hanuman Singh Rathore' 'Harbhajan Singh' 'Harbinder Singh Chimni'
 'Harcharan Singh' 'Hardeep Singh' 'Hardeep Singh Grewal'
 'Hardyal Singh Garchey' 'Harmanpreet Singh' 'Harmik Singh' 'Harpal Singh'
 'Harpreet Singh Mander' 'Inderpal Singh' 'Jagbir Singh' 'Jagdev Singh'
 'Jagjit Singh Kular' 'Jagmal Singh Ragho' 'Jagmander Balyan Singh'
 'Jagmohan Nat Singh' 'Jagrup Singh' 'Jaipal Singh Munda' 'Jaswant Singh'
 'Jit Singh' 'Jorawar Singh' 'Jugraj Singh Mann' 'Kaliq Singh'
 'Karni Singh Bahadur' 'Kothajit Singh Khadangbam' 'Kuldeep Singh'
 'Kulwant Singh' 'Kunwar Digvijay Singh' 'Labh Singh' 'Lakha Singh'
 'Madho Singh' 'Mahabir Singh' 'Mahadeo R. Singh' 'Makhan Singh'
 'Malwa Singh' 'Mangal Singh Champia' 'Manish Singh Rawat' 'Manjit Singh'
 'Manpreet Singh' 'Mansher Singh' 'Mehnga Singh Sidhu' 'Milkha Singh'
 'Mohinder Singh' 'Mohinder Singh Gill' 'Mohinder Pal Singh'
 'Mukhbain Singh' 'Mukhtiar Singh' 'Narinder Singh Kodan'
 'Neel Kamal Singh' 'Pala Singh' 'Paramjit Singh' 'Pargat Singh Powar'
 'Prabhjot Singh' 'Pramdiph Singh' 'Pritam Singh' 'Prithipal Singh'
 'Rahul Singh' 'Rajinder Singh' 'Ramandeep Singh' 'Randhir Singh Ji'
 'Ranjit Singh' 'Ravinder Pal Singh' 'Rohtas Dahiya Singh'
 'Roop Singh Bais' 'Rupinder Pal Singh' 'Sadhu Singh' 'Sajan Singh'
 'Sandeep Singh' 'Sanjeev Kumar Singh' 'Sardar Singh' 'Satpal Singh'
 'Sawarn Singh' 'Shakti Singh' 'Shivendra Singh' 'Shivnath Singh'
 'Sohan Singh Dhanoa' 'Sohan Singh' 'Sri Ram Singh Shekhawat'
 'Suchha Singh' 'Sudha Singh' 'Sukhjit Singh' 'Surendra Kumar Singh'
 'Surjit Singh Randhawa' 'Tarsem Singh Kular' 'Thoiba Singh'
 'Trilok Singh' 'Udham Singh Kular' 'Varinder Singh'
 'Vijender Kumar Singh' 'Vir Singh' 'Virsa Singh' 'Vivek Singh'
 'Zora Singh' 'Amit Singh Bakshi' 'Tarlochan Singh Bawa'
 'Raghbir Singh Bhola' 'Amar Singh Billing' 'Gurvinder Singh Chandi'
 'Vijay Singh Chauhan' 'Palwinder Singh Cheema' 'Dharan Singh Dahiya'
 'Baljit Singh Dhillon' 'Neelam Jaswant Singh Dogra'
 'Randhir Singh Gentle' 'Dalbir Singh Gill' 'Dharam Singh Gill'
 'Raunaq Singh Gill' 'Sukhbir Singh Gill' 'Gurcharan Singh Grewal'
 'Iqbaljit Singh Grewal' 'Ramandeep Singh Grewal' 'Sandhu Singh Gurbir'
 'Chetan Singh Hari' 'Dhillon Singh Jarnail' 'Om Prakash Singh Karhana'
 'Baljit Singh Kharab' 'Devendro Singh Laishram' 'Gulzara Singh Mann'
 'Jagdev Singh Rai' 'Gurbachan Singh Randhawa' 'Chandan Singh Rawat'
 'Nitendra Singh Rawat' 'Rajinder Singh Rawat' 'Baljit Singh Saini'
 'Harisimran Singh Sandhu' 'Manavjit Singh Sandhu' 'Tarlok Singh Sandhu'
 'Surinder Singh Sodhi Shokar' 'Amar Singh Sokhi' 'Nat Singh Somnath'
 'Birender Singh Thapa' 'Khazan Singh Tokas' 'Ram Singh Yadav'
 'Balbir Singh Dosanjh, Sr.' 'Sushmitha Singha Roy'
 'Sathish Kumar Sivalingam' 'Mohammed Sleem' 'Ronjan Sodhi'
 'Chitra Kulaghummuriyil Soman' 'Varsha Soni' 'Prema Maya Sonir'
 'David M. Sopher' 'Preeja Sreedharan' 'Anup Sridhar' 'Charles Stephen'
 'Perumal Subramanian' 'Raman Subramanyan'
 'William Patrick "Pat" Sullivan' 'Anwer Sultan' 'Adille Sumariwalla'
 'Simon Swamidas Sunder Raj' 'Soubam Suresh Singh'
 'Sarjarao Bhiku Suryavanshi' 'Mervyn Ernest "Bunoo" Sutton'
 'Arul C. S. Swami' 'Chekrovolu Swuro' 'Jalal-ud-Din Syed Rizvi'
 'Dung Dung Sylvanus' 'Bajrang Lal Takhar' 'Jayanta Talukdar'
 'Shikha Tandon' 'Carlyle Carrol Tapsell' 'Farokh Tarapore' 'Divya Tewar'
 'Deepika Thakur' 'Himanshu Thakur' 'Nanak Chand Thakur' 'Sunith Thakur'
 'Deepak Thakur Sonkhla' 'Peter Ramaswamy Thangaraj'
 'Debendra (-Dibend) Thapa' 'Shiva Thapa' 'Chandanda Nikkin Thimmaiah'
 'Irfan Kolothum Thodi' 'Anuradha Devi Thokchom' 'Anilda Thomas'
 'Prarthana Gulabrao Thombare' 'Shankarrao Ramrao Thorat'
 'Lijo David Thottan' 'Dilip Kumar Tirkey' 'Ignacious "Ignace" Tirkey'
 'Sandeep Tomar' 'Rajiv Tomer' 'Manohar Topno' 'Namita Toppo'
 'Margaret Toscano' 'Vinita Tripathi' 'Kavita Maheshkumar Tungar (Raut-)'
 'Adaveeshaiah Puttaveeraswamy Gagan Ullalmath'
 'Pilavullakandi Thekeparampil "P. T." Usha'
 'Sannuvanda Kushalappa "S. K." Uthappa'
 'Nirupama Vaidyanathan (-Sanjeev)' 'Manathoor Devasia "M. D." Valsamma'
 'Padamttom Vankatesh' 'Kenchappa Varadaiah "KV" Varadaraj'
 'Pranitha Vardhineni' 'Sabu Varkey' 'Max "Maxie" Vaz'
 'Anjali Ramakanta Vedpathak-Bhagwat' 'Devarajan Venkatesan'
 'Muniswamy Venu' 'Subhash Verma' 'Ronald Alfred Vernieux'
 'James Henry "Jim" Vickers' 'Jagadeesan Vishnuvardhan'
 'Sunil Sowmarpet Vitalacharya' 'Devindar Sunil Walmiki'
 'Oscar Alfred Ward' 'U Zaw Weik' 'Stanley Eric Kenneth Whiteside'
 'William Xalco' 'Sebastian Xavier' 'Dharmendra Yadav'
 'Narsingh Pancham Yadav' 'Renuka Yadav' 'Vikas Krishan Yadav'
 'Mohammad Anas Yahiya' 'Thyadathuvilla Chandrapillai "T. C." Yohannan'
 'Sayed Muhammad Yusuf' 'Geeta Zutshi']
Total Players: 875

In [ ]:
gold = len(df_india[df_india.Medal == 'Gold'])
silver = len(df_india[df_india.Medal == 'Silver'])
bronze = len(df_india[df_india.Medal == 'Bronze'])

print('Gold: '+str(gold)+' |Silver: '+str(silver)+' |Bronze: '+str(bronze))

Gold: 138 |Silver: 19 |Bronze: 40

In [ ]:
df_india.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
505,281,S. Abdul Hamid,M,NaN,NaN,NaN,India,IND,1928 Summer,1928,Summer,Amsterdam,Athletics,Athletics Men's 110 metres Hurdles,NaN
506,281,S. Abdul Hamid,M,NaN,NaN,NaN,India,IND,1928 Summer,1928,Summer,Amsterdam,Athletics,Athletics Men's 400 metres Hurdles,NaN
895,512,Shiny Kurisingal Abraham-Wilson,F,19.0,167.0,53.0,India,IND,1984 Summer,1984,Summer,Los Angeles,Athletics,Athletics Women's 800 metres,NaN
896,512,Shiny Kurisingal Abraham-Wilson,F,19.0,167.0,53.0,India,IND,1984 Summer,1984,Summer,Los Angeles,Athletics,Athletics Women's 4 x 400 metres Relay,NaN
897,512,Shiny Kurisingal Abraham-Wilson,F,23.0,167.0,53.0,India,IND,1988 Summer,1988,Summer,Seoul,Athletics,Athletics Women's 800 metres,NaN

# Data Cleaning

In [ ]:
df_india.drop(['ID', 'NOC','Team', 'Games', 'Event'], axis=1, inplace=True)
df_india.head()

<ipython-input-41-6c6a2d1238fd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_india.drop(['ID', 'NOC','Team', 'Games', 'Event'], axis=1, inplace=True)

,Name,Sex,Age,Height,Weight,Year,Season,City,Sport,Medal
505,S. Abdul Hamid,M,NaN,NaN,NaN,1928,Summer,Amsterdam,Athletics,NaN
506,S. Abdul Hamid,M,NaN,NaN,NaN,1928,Summer,Amsterdam,Athletics,NaN
895,Shiny Kurisingal Abraham-Wilson,F,19.0,167.0,53.0,1984,Summer,Los Angeles,Athletics,NaN
896,Shiny Kurisingal Abraham-Wilson,F,19.0,167.0,53.0,1984,Summer,Los Angeles,Athletics,NaN
897,Shiny Kurisingal Abraham-Wilson,F,23.0,167.0,53.0,1988,Summer,Seoul,Athletics,NaN

In [ ]:
df_india.isnull().sum()

Name         0
Sex          0
Age        150
Height     517
Weight     539
Year         0
Season       0
City         0
Sport        0
Medal     1211
dtype: int64

In [ ]:
df_india['Age'].fillna(value=df_india.Age.mean(), inplace=True)
df_india['Height'].fillna(value=df_india.Height.mean(), inplace=True)
df_india['Weight'].fillna(value=df_india.Weight.mean(), inplace=True)
df_india.isnull().sum()

<ipython-input-43-4d2440df3d40>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_india['Age'].fillna(value=df_india.Age.mean(), inplace=True)
<ipython-input-43-4d2440df3d40>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_india['Height'].fillna(value=df_india.Height.mean(), inplace=True)
<ipython-input-43-4d2440df3d40>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_india['Weight'].fillna(value=df_india.Weight.mean(), inplace=True)

Name         0
Sex          0
Age          0
Height       0
Weight       0
Year         0
Season       0
City         0
Sport        0
Medal     1211
dtype: int64

In [ ]:
df_india.head()

,Name,Sex,Age,Height,Weight,Year,Season,City,Sport,Medal
505,S. Abdul Hamid,M,25.547695,171.638608,67.757768,1928,Summer,Amsterdam,Athletics,NaN
506,S. Abdul Hamid,M,25.547695,171.638608,67.757768,1928,Summer,Amsterdam,Athletics,NaN
895,Shiny Kurisingal Abraham-Wilson,F,19.000000,167.000000,53.000000,1984,Summer,Los Angeles,Athletics,NaN
896,Shiny Kurisingal Abraham-Wilson,F,19.000000,167.000000,53.000000,1984,Summer,Los Angeles,Athletics,NaN
897,Shiny Kurisingal Abraham-Wilson,F,23.000000,167.000000,53.000000,1988,Summer,Seoul,Athletics,NaN

# Saving file

In [ ]:
df_india.to_csv('india_athletes.csv', index=False)